# Conectar con Supabase
PUBLIC_SUPABASE_URL="TU_SUPABASE_URL"
PUBLIC_SUPABASE_ANON_KEY="TU_SUPABASE_ANON_KEY"

# Usuario 1 
PUBLIC_ADMIN_USER="usuario1"
PUBLIC_ADMIN_PASS="password1"

# Usuario 2 
PUBLIC_ADMIN_USER_2="usuario2"
PUBLIC_ADMIN_PASS_2="password2"

# Usuario 3 
PUBLIC_ADMIN_USER_3="usuario3"
PUBLIC_ADMIN_PASS_3="password3"